@import url("https://fonts.googleapis.com/css2?family=Piedra&family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1rem;
}
