// color
$black: #182c4c;
$white: #ffffff;

// spacing
$base-gap: 1rem;

// height and width
$base-width: 10rem;

// font
$base-font: 1rem; //16px
// 18px - +0.125
// 14px - -0.125
// 12px - 0.25

// screen size
$xl: 1280px;
$lg: 1024px;
$md: 770px;
$sm: 640px;
$xs: 375px;
